{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/CampusRenting-LandingPage.css" charset="utf-8">
<link rel="stylesheet" href="/static/css/list-page.css" charset="utf-8">
{% endblock %}
{% block bg-css %}style="background-image:url('/static/image/banner_bg.png'); height:250px;"{% endblock %}

{% block searchpannel %}
{% endblock %}

{% block result %}
<h2 class="ui header" style="position: absolute;margin-left: 220px;margin-top: 40px;color: white;">
    {{ houseinfo.title }}
</h2>
{% endblock %}
<!-- content -->
{% block content %}
<div class="ui basic borderless segment" id="middle_content">
    <div class="ui container segment" id="middle_inner_content">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="ui image">
                    <img src="/upload/{{ houseinfo.pic_max }}" />
                </div>
                <div class="ui nine column grid">
                    <div class="column" style="margin-left: 14px;">
                        <img src="/upload/{{ houseinfo.pic_1 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_2 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_3 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_4 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_5 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_6 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_7 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_8 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                    <div class="column">
                        <img src="/upload/{{ houseinfo.pic_9 }}" style="border: 1px solid #fcc416;
border-radius: 5px; height:42px; width:63px " />
                    </div>
                </div>
                <div class="ui basic segment container" id="middle_bottom_content">
                    <h3 class="ui header">关于此房源</h3>
                    <p><b>周边：</b>{{ houseinfo.circum }} </p>
                    <br />
                    <p><b>交通：</b> {{ houseinfo.translate }}</p>
                </div>
            </div>
            <div class="four wide column" style="padding-left: 0px;">
                <div class="ui clearing basic segment">
                    <h1 class="ui left floated header">{{ houseinfo.rent }}<h4 class="ui left floated header">元/月</h4>
                    </h1>
                    <h4 class="ui right floated header">{{ houseinfo.type }}</h4>

                </div>
                <div class="ui basic segment">
                    <h3 class="ui header">房屋</h3>
                    <p>{{ houseinfo.housetype }} - {{ mianji }}m<sup>2</sup> - {{ louceng }}</p>
                    <p>{{ zhuangxiu }} - {{ chaoxiang }} - {{ zhuzhaileixing}}</p>
                    <h3 class="ui header">地址</h3>
                    <p>{{ houseinfo.address }}</p>
                    {% for i in houseinfo.area_to.all %}
                    <p>距{{ i.name }}{{ houseinfo.distance }}米</p>
                    {% endfor %}
                    <h2 class="ui header">小区</h2>
                    <p>{{ houseinfo.community }}</p>
                </div>
                <a href="/appointment/?houseinfo_id={{ houseinfo.id }}">
                    <button class="ui fluid button" id="button_1" style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                        <h3 class="ui header">我要看房</h3>
                    </button>
                </a>
                <div class="ui basic segment container" style="margin-top: 40px;">
                    <h3 class="ui header">设施</h3>
                    <ul>
                        {% for i in installations %}
                        <li><span>{{ i }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}