<!-- footer -->
<div class="ui vertical segment">
        <div class="ui eight width grid container">
            <div class="four wide column">
                <div class="ui vertical text menu">
                    <div class="item">
                        <div class="header">关于我们</div>
                        <div class="menu">
                            <a href="#" class="item">常见问题</a>
                            <a href="#" class="item">联系我们</a>
                            <a href="#" class="item">加入我们</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui vertical text menu">
                    <div class="item">
                        <div class="header">热门房源</div>
                        <div class="menu">
                            <a href="#" class="item">北京大学</a>
                            <a href="#" class="item">清华大学</a>
                            <a href="#" class="item">人民大学</a>
                            <a href="#" class="item">北京邮电</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui vertical text menu">
                    <div class="item">
                        <div class="header">关注我们</div>
                        <div class="menu">
                            <a href="#" class="item">关注微博</a>
                            <a href="#" class="item">关注微信</a>
                            <a href="#" class="item">关注头条号</a>
                            <a href="" class="item">关注知乎</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui vertical text menu">
                    <div class="item">
                        <div class="header">反馈问题</div>
                        <div class="menu">
                            <p>欢迎写邮件向我们反馈<br>邮箱地址：<br>hi@mugglecoding.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>